{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        TODO: Show information for one TODO item.
    </div>

    {# Inline javascript certainly is not the best solution here, but we wanted to keep things simple. #}
    <script type="text/javascript">

    </script>
{% endblock %}
