{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>List of TODO items</h1>

            <table>
                <tbody>
                    {% for item in todos %}
                        <tr>
                            <td>TODO</td>
                            <td>TODO</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            {% include "default/create.html.twig" with {'form': form} only %}
        </div>
    </div>
{% endblock %}
