{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1><a href="{{ path('homepage') }}">TODO Application</a></h1>

            <h2>Item {{ todo.id }} ({% if todo.completed %}finished{% else %}unfinished{% endif %})</h2>

            <p>{{ todo.title }}</p>

            <input type="button"
                   onclick="toggleCompleted()"
                   value="{{ todo.completed ? 'Restart' : 'Finish' }}"
            />
            <input type="button"
                   onclick="deleteTask()"
                   value="Delete this item"
            />
        </div>
    </div>

    {# Inline javascript certainly is not the best solution here, but we wanted to keep things simple. #}
    <script type="text/javascript">
        function toggleCompleted() {
            var xhr = new XMLHttpRequest();
            xhr.open( "PUT", "{{ path('todo_complete', {'id': todo.id}) }}", true ); // false for synchronous request
            xhr.send( {{ todo.completed ? 'false' : 'true' }} );
            xhr.onload = function (e) {
                if (xhr.readyState === 4) {
                    if (xhr.status === 204) {
                        alert('Success');
                        window.location.reload();
                    } else {
                        alert('Fail '+xhr.status);
                    }
                }
            }
        }
        function deleteTask() {
            var xhr = new XMLHttpRequest();
            xhr.open( "DELETE", "{{ path('todo_delete', {'id': todo.id}) }}", true ); // false for synchronous request
            xhr.send();
            xhr.onload = function (e) {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        window.location = xhr.responseText;
                    } else {
                        alert('Fail '+xhr.status);
                    }
                }
            }
        }
    </script>
{% endblock %}
