{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>List of TODO items</h1>

            <table>
                <tbody>
                    {% for item in todos %}
                        <tr>
                            <td><input onclick="return false" type="checkbox" title="completed"{% if item.completed %} checked="checked"{% endif %}/></td>
                            <td><a href="{{ path('todo_detail', {'id': item.id}) }}">{{ item.title }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            {% include "default/create.html.twig" with {'form': form} only %}
        </div>
    </div>
{% endblock %}
